{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" href="{%static 'css/product.css'%}">
<link rel="stylesheet" href="{%static 'css/step.css'%}">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- Custom styles for this template-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="http://allfont.net/allfont.css?fonts=montserrat" rel="stylesheet" type="text/css" />
{% block extracss %}

{% endblock extracss %}
<style>
  footer{
    margin-top:auto; 
  
  }
  @media (max-width: 768px) {
  .tex-p{font-size: 17px;}
}

</style>
{% block supercontent %}

<header class="fixed-top">
  <div id="con" calss="container-fluid text-center" align="center" style=" background-color:#F4F6F7 ;">
    <div class="row justify-content-center" style=" width: 90%; padding-top:15px">
      <div class="col-sm-1 col-md-4 d-md-block d-none" align="center" ><img class="" src="{%static 'images/escudo_ahome.png' %}" alt="Logo" width="auto" height="70px"></div>
      <div class="col-sm-10 col-md-4 d-sm-block  " align="center">  <img class="" src="{%static 'images/bienestarlogo.png' %}" alt="Logo" width="220px" height="auto"></div>
      <div class="col-sm-1 col-md-4 d-md-block d-none" align="center"><img class="" src="{%static 'images/tAhome.png' %}" alt="Logo" width="auto" height="80px"></div>
    </div> 
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" background-color:#F4F6F7 !important;  
  -webkit-box-shadow: 0 5px 4px #888888;
  -moz-box-shadow: 0 5px 4px #888888;
  box-shadow: 0 5px 4px #888888;" >
    <a class="navbar-brand" href="{% url 'inicio' %}"> <img class="navbar-brand mr-5" src="{%static 'images/tAhome.png' %}" alt="Logo" width="80px" height="auto"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mr-3 resaltar">
          <a class="nav-link" href="{% url 'inicio' %}" style="font-weight: bold; color:black">Registro <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-3 resaltar">
          <a class="nav-link mr-3"  href= {% url "imprimir" ids="0" %} style="font-weight: bold; color:black">Imprimir Solicitud</a>
        </li>
        <li class="nav-item mr-3 resaltar">
          <a class="nav-link mr-3" href= {% url "beneficios" idz="0" %} style="font-weight: bold; color:black">Estadísticas</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item mr-3 resaltar">
          <a class="nav-link mr-3" href= {% url "detalles" idz="0" %} style="font-weight: bold; color:black">Detalles de Solicitudes</a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% if request.user.is_authenticated %}
      <a type="btn" class="nav-link mr-3 " align="right" href= {% url "cerrar" %} style="font-weight: bold; color:rgb(192, 62, 95)">Cerrar Sesión</a>
    {% endif %}
    
  </nav>
  
   
</header>
    {# Important content stuff here #}
    
    <div class="container-fluid" style=" margin-bottom: 130px;">

    </div>
    {% block content %}
    
    {% endblock %}
    
    <footer class="page-footer blue mt-3" style="background-color:#691C32 !important; color: white; "> <!--#3C5A4F !important; color: white; ">-->
      <!-- Copyright -->

      <div class="container-fluid footer-copyright  py-3" style="background-color: #691C32; margin-bottom:0%">
        <div class="row ml-2">
          <div class="col-6" >
            <p class="tex-p" style="font-size: 17px; margin:0% "><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; Av. Marcial Ordoñez No. 240 Col. Bienesta, Los Mochis, Ahome, Sinaloa.</p>
            <p class="tex-p" style="font-size: 17px; margin:0%"><i class="fas fa-phone"></i>&nbsp; Tel. (668) 816 4060</p>
            <a style="font-size: 17px;   color:white" href="https://www.google.com/maps/d/u/0/viewer?mid=1OCLa-aikXOhydyFpFfnbT3IukIWxSFJ5&ll=25.77979047604683%2C-108.9894228429151&z=14" target="_blank"><i class="fas fa-map-marked-alt"></i>&nbsp; Localiza tu dependencia</a>
          </p>
        </div>
        <div class="col-6" align="right">
            <h6>Secretaría del Bienestar</h6>
        </div>
        </div>
      </div>
      
      <div class="container-fluid" style="background-color: #4e1526; margin-bottom:0%">
        <div class="row ml-2">
          <div class="col-6">
            <img src="{%static 'images/escudo negativo.png' %}" height="120px" width="auto" alt=""> 
          </div>
          <div class="col-6" style="text-align: right">
            <p class="tex-p" style="font-size: 17px;" >
              Copyright © 2021-2024 <br>
              
              H. Ayuntamiento de Ahome. <br>
              Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    
  </footer>
{% endblock %}
<!-- Core plugin JavaScript-->

<!--<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
  $(document).ready(()=>{
    var altoVentana = 0;
    var posicionVentana = document.getElementById("con").offsetTop;
    $(window).scroll(function(event){
      var posicionScroll = $(this).scrollTop();
          if (posicionScroll > (parseInt(posicionVentana)+parseInt(altoVentana))){
          $("#con").css("display","none");
          } else {
          $("#con").css("display","");
          }
  
    });

    
    
  });
</script>
{% block extrascripts %}


{% endblock %}