{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .cont_rowmin{
      padding-top: 3%;
      margin-bottom: 6%;
    }
    .cont_row{
      
      margin-bottom: 2%;
    }
  }

  @media (max-width: 768px) {
    #id_tabla {
      width: 100% !important;
    }

    .rowmin{
      width: 100% !important;
     
    }
    .tex-p{
      font-size: 17px !important;
    }
    .cont_rowmin{
      width: 100%;
      margin-left: 5% !important;
      margin-bottom: 6%;
      
    }
    .cont_row{
      width: 100%;
      margin-left: 5% !important;
      margin-bottom: 6%;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

li:hover{
  border-bottom: 3px solid #691C32;
  transition: border-color 1s ease;
  
}
.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}
</style>
{% endblock extracss %}

{% block content%}</h1>
<div class="position-relative overflow-hidden mt-5 p-3 p-md-5 m-md-3 bg-light" >
  {% if configuracion.carga %}
    {% if request.user.is_authenticated %}
      <div class="container mt-5" align="right"><a class="btn  color-boton" href="{%url 'imprimir' idz=idz%}">Descargar Estadisticas <i class="fas fa-file-download"></i> </a></div>
    {% else %}
      <div class="container mt-5" align="right"></div>
    {% endif %}
  {% else %}
    <div class="container mt-5" align="right"></div>
  {% endif %}
  <div class="mt-5" style="background-color: #ebecec; padding:30px; border-radius:18px;">
   <b> <h2 class="text-center"  style="font-weight: bold;">Estadística de Solicitudes</h2></b>
   <br>
    {% if request.user.is_authenticated %}
   <div class="container-fluid justify-content-center cont_row" style="align-items: center; margin-left:28%;">
    <div class="row rowmin justify-content-center" style="width: 45%; border-bottom: 1px solid #691C32" >
   Cambiar de Localidad <samp style="color:#9A0E44"></samp> <br>
   <select name="localidad" class="select form-control mb-3" required="" id="id_zona"> 
     <option value="0" selected="" disabled>Seleccione una Localidad</option> 
     <option value="0" >TODAS</option> 
     {% for zona in zonas %}
       <option value="{{zona.pk}}" >{{zona.nombre}}</option>
     {% endfor %}
   </select> 
    </div>
    
   </div>
   {% endif %}
   <h5 class="text-center"  style="font-weight: bold;">{{localidad}}</h5>
  <!--Estadistica general de hombres mujeres y discapacitados-->
  <div class="container-fluid justify-content-center cont_rowmin" style="align-items: center; margin-left:28%;">
   <div class="row rowmin justify-content-center" style="width: 45%; border-bottom: 1px solid #691C32" >
    <div class="col-sm-10 col-10 ">
      <i class="far fa-file-alt " style="align-items: center; "></i>&nbsp; Total de Solicitudes
    </div>
    <div class="col-2 col-sm-2 text-center">
      <b style="color: #691C32; font-size:30px; font-weight: bold; ">{{total_solicitudes}}</b>
    </div>
  </div>

   <div class="row rowmin justify-content-between" style="width: 45%; border-bottom: 1px solid #691C32" >
    <div class="col-sm-10 col-10">
      <i class="fas fa-male"></i>&nbsp; Total de Hombres
    </div>
    <div class="col-2 col-sm-2 text-center">
      <b style="color: #691C32; font-size:30px; font-weight: bold;">{{hombres}}</b>
    </div>
  </div>
    <div class="row rowmin justify-content-between" style="width: 45%; border-bottom: 1px solid #691C32 " >
      <div class="col-sm-10 col-10">
        <i class="fas fa-female"></i>&nbsp; Total de Mujeres
      </div>
      <div class="col-2 col-sm-2 text-center">
        <b style="color: #691C32; font-size:30px; font-weight: bold;">{{mujeres}}</b>
      </div>
    </div>
    <div class="row rowmin justify-content-between" style="width: 45%; border-bottom: 1px solid #691C32" >
      <div class="col-sm-10 col-10">
        <i class="fas fa-wheelchair" style="align-items: center;"></i></i>&nbsp; Total de personas con discapacidad
      </div>
      <div class="col-2 col-sm-2 text-center">
        <b style="color: #691C32; font-size:30px; font-weight: bold; ">{{discapacidades}}</b>
      </div>
    </div>
  </div>

  <div class=" container-fluid mt-5" >
    <h3 class="text-center" style="font-weight: bold; margin-bottom:2%">Población Objetivo</h3>
    <div class="row">     
    {% for pob in poblacion %}
    <div class="col-md-4 mb-1" style="font-weight: bold; border: solid 1px; border-bottom:solid 4px #691C32">
      <div class="row rowmin justify-content-between"  >
        <div class="col-sm-8 col-8">
          {{pob.poblacion}}
        </div>
        <div class="col-4 col-sm-4 text-center">
          <b style="color: #691C32; font-size:30px; font-weight: bold; ">{{pob.cantidad}}</b>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
  <div class="container-fluid text-center" style="margin-top: 10%;">

  {% for estadistica in estadisticas %}
      <h3 class="mt-3" style="font-weight: bold;">{{estadistica.direccion}}</h3>
      
      <div  align="right">
        <div class="row rowmin justify-content-between"  style="width: 30%;">
          <div class="col-sm-10 col-10" style="font-weight: bold;">
            Total de servicios
          </div>
          <div class="col-2 col-sm-2 text-center">
            <b style="color: #691C32; font-weight: bold; "> {{estadistica.total}}</b>
          </div>
        </div>
      </div>
      
       
        <div class="table-responsive" style=" margin-bottom:6%">
            <table id="id_tabla_actividades" style="border: solid 1px #691C32;" class="table">
                <thead class="color-boton" style="background-color: #691C32; color:white; font-weight:bold">
                    <tr>
                        <th>Servicio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody class="bg-transparent">
                    {% for servicio in estadistica.servicios %}
                        <tr>
                            <td scope="row" style="font-weight:bold"> {{servicio.servicio}}</td>
                            <td style="width: 20%; font-weight:bold; color:#691C32">{{servicio.cantidad}}</td>
                            
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
  {% endfor %}
</div>
</div>

{% endblock content %}
{% block extrascripts %}

    <script>
      
      $(document).ready(function () {
        $( "#id_zona" ).change(function() {
          var url = window.location.toString()
          var urlsplit= url.split("/");
          var localidad = document.getElementById("id_zona").value;
      
          var URLactual = "/estadisticas/servicios/"+localidad;
          window.location.href = URLactual;   
      }); 


        tel_mostrar = true
        email_mostrar = true

        $(".telefonos").hide()
        $(".correos").hide()

        $(".whatsapp").click(function() {
          if (tel_mostrar==true){
            $(".telefonos").show()
            tel_mostrar=false
          }else{
            $(".telefonos").hide()
            tel_mostrar=true
          }
          });

       
       
        $(".email").click(function() {
          if (email_mostrar==true){
            $(".correos").show()
            email_mostrar=false
          }else{
            $(".correos").hide()
            email_mostrar=true
          }
          });
        })
      

        
    </script>
{% endblock %}
