{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .contenedor{ 
        
        margin-top: 250px !important;
    }

  }

  @media (max-width: 768px) {
    .contenedor{ 
        
        margin-top: 250px !important;
    }

  }

  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

li:hover{
  border-bottom: 3px solid #691C32;
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}

</style>
{% endblock extracss %}

{% block content%}

<div class="container contenedor text-justify" style="margin-top: 7%; width:90%">   

    
    <p class="text-center"><i class="fas fa-copy" style="color:#691C32; font-size:150px !important;"></i></p>
    <h3>Ya existe un registro con la CURP {{solicitud.curp}}.</h3> <br>
    <a class="btn  color-boton" href="{%url 'imprimir' ids=solicitud.id%}">Ver servicios</a>
   
</div>


  


{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }

      $(document).ready(function () {

      

         })
    </script>
{% endblock %}
