{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

li:hover{
  border-bottom: 3px solid #691C32;
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}

</style>
{% endblock extracss %}

{% block content%}
<form action="" method="post" id="id_form_actividad">
  {% csrf_token %}
  <div class="container " style="margin-top: 7%;"> 
        
    <div class="row ">
    
      Nombre <br>  
      <input class="form-control mb-3" onkeyup="mayus(this);" name="nombre" placeholder="Nombre(s)"
      oninput="this.className = ''" required="" value="{{solicitud.nombre}}">
      Apellido Paterno <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="paterno" placeholder="Apellido paterno" 
      oninput="this.className = ''" required=""  value="{{solicitud.appaterno}}">
      Apellido Materno <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="materno" placeholder="Apellido materno" 
      oninput="this.className = ''" required=""  value="{{solicitud.apmaterno}}">
      CURP &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
      <input class="form-control mb-3" id="curp" onkeyup="mayus(this);" name="curp"  minlength="18"  maxlength="18" placeholder="CURP:(AAAA971231ABCDEF00) " 
      oninput="this.className = ''" required=""  value="{{solicitud.curp}}">
     <div class="mb-3 container"> <a href="https://www.gob.mx/curp/" target="_blank" >Obtener CURP</a></div>
     Población Objetivo 
     <select name="poblacion" class="select form-control mb-3"   required="" id="poblacion"> 
       <option value="0" {% if solicitud.poblacion == None %}selected=""{% endif %}>---------</option> 
       {% for poblacion in poblaciones %}
        <option value="{{poblacion.pk}}" {% if solicitud.poblacion == poblacion %}selected=""{% endif %}>{{poblacion.nombre}}</option>
       {% endfor %}
     </select> 
      Estado Civil<br>
      <select name="estcivil" selected="{{solicitud.estcivil}}" class="select form-control mb-3" required="" id="est_civil"> 
        <option value="x" {% if solicitud.estcivil == "x" %}selected=""{% endif %}>---------</option> 
        <option value="s"  {% if solicitud.estcivil == "s" %}selected=""{% endif %} >Soltero</option> 
        <option value="c"  {% if solicitud.estcivil == "c" %}selected=""{% endif %}>Casado</option> 
        <option value="d"  {% if solicitud.estcivil == "d" %}selected=""{% endif %}>Divorciado</option> 
        <option value="v"  {% if solicitud.estcivil == "v" %}selected=""{% endif %}>Viudo</option> 
      </select> 
      Persona con discapacidad<br>
      <select name="discapacidad" selected="{{solicitud.discapacidad}}"  class="select form-control mb-3" required="" id="discapacidad"> 
        <option value="n"{% if solicitud.discapacidad == "n" %}selected=""{% endif %} >No</option> 
        <option value="o" {% if solicitud.discapacidad == "o" %}selected=""{% endif %} >Auditiva</option> 
        <option value="m" {% if solicitud.discapacidad == "m" %}selected=""{% endif %}>Motriz</option> 
        <option value="v" {% if solicitud.discapacidad == "v" %}selected=""{% endif %}>Visual</option> 
        <option value="x" {% if solicitud.discapacidad == "x" %}selected=""{% endif %}>Otro</option> 
      </select> 
      Localidad / Colonia <br>
      <input class="form-control mb-3" value="{{solicitud.domicilio}}" onkeyup="mayus(this);" name="domicilio" placeholder="Localidad / Colonia" 
      oninput="this.className = ''" required>
      Calle <br>
      <input class="form-control mb-3" value="{{solicitud.calle}}" onkeyup="mayus(this);" name="calle" placeholder="Calle" 
      oninput="this.className = ''" required>
      Número exterior <br>
      <input class="form-control mb-3" value="{{solicitud.exterior}}" onkeyup="mayus(this);" name="exterior" placeholder="Número Exterio o Poste" 
      oninput="this.className = ''" required>
      Código postal <br>
      <input class="form-control mb-3" value="{{solicitud.codigo}}" onkeyup="mayus(this);" name="cp" placeholder="Código Postal" 
      oninput="this.className = ''" required>
      Correo electrónico
      <input class="form-control mb-3" value="{{solicitud.correo}}" id="email" name="email" placeholder="Correo Electrónico" 
      oninput="this.className = ''">
      Teléfono <br>
      <input class="form-control mb-3" value="{{solicitud.telefono}}" id="telefono" name="telefono" minlength="10"  maxlength="10" placeholder="Teléfono"
      oninput="this.className = ''">
      Observación <br>
      <textarea class="form-control mb-3" value="{{solicitud.detalles}}" name="observacion" id="observacion" cols="auto" rows="3"></textarea>

    
  </div>
  </div>


  <div class="d-flex justify-content-center mt-5">
    <button class="btn color-boton" id="id_btn_segunda_parte" type="submit">
      Guardar cambios &nbsp;<i class="fas fa-check"></i>
    </button>
  </div>
</form>

{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }

      $(document).ready(function () {

        $('#direccion').change((event) => {
          const dependencia_id = event.target.value;
          let programasOperativosItems = document.querySelectorAll(
              'select[name=servicio] >  option'
          )
          programasOperativosItems.forEach((po) => {
              if (dependencia_id === '0') {
                  po.hidden = false;
              } else{
                  dependencia_item = po.getAttribute('direccion');
                  po.hidden = dependencia_id === dependencia_item ?
                              false:
                              true;
              }
          });


      })

      $('#direccion2').change((event) => {
        const dependencia_id = event.target.value;
        let programasOperativosItems = document.querySelectorAll(
            'select[name=servicio2] >  option'
        )
        programasOperativosItems.forEach((po) => {
            if (dependencia_id === '0') {
                po.hidden = false;
            } else{
                dependencia_item = po.getAttribute('direccion');
                po.hidden = dependencia_id === dependencia_item ?
                            false:
                            true;
            }
        });


    })

    $('#direccion3').change((event) => {
      const dependencia_id = event.target.value;
      let programasOperativosItems = document.querySelectorAll(
          'select[name=servicio3] >  option'
      )
      programasOperativosItems.forEach((po) => {
          if (dependencia_id === '0') {
              po.hidden = false;
          } else{
              dependencia_item = po.getAttribute('direccion');
              po.hidden = dependencia_id === dependencia_item ?
                          false:
                          true;
          }
      });


  })

        
        $('#id_fecha').datepicker({
            uiLibrary: 'bootstrap4',
            format: "yyyy-mm-dd",
        });
        $('#id_fecha').attr('readonly',true)
        
       
      
        $("#telefono").on('blur',function(){ 
          pass = document.getElementById('telefono').value;
          console.log(pass)
          if(pass.match(/^[0-9]{10}/)){
            
          }else{
              Swal.fire({
                type: 'error',
                customClass:{
                    confirmButton: 'color-boton',
                    cancelButton: 'color-boton',
                  },
                title: `El número de teléfono debe contener 10 dígitos`,
              })
          }
      }); 


        $("#email").on('blur',function(){ 
         
          pass = document.getElementById('email').value;
          console.log(pass)
          if(pass.match(/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/)){
            
          }else{
              Swal.fire({
                type: 'error',
                customClass:{
                    confirmButton: 'color-boton',
                    cancelButton: 'color-boton',
                  },
                title: `Ingresa un correo eléctronico válido`,
              })
          }
      }); 
      
    /*la validación de la composición de la curp esta en el codigo,
      aqui solo se valida si cumple con 18 caracteres y este compuesta por
      la estructura de una CURP, se realiza validación para saber si es 
      mujer
      
      */
      

        $("#curp").on('blur',function(){ 
          pass = document.getElementById('curp').value;
          console.log(pass)
            
              if(pass.match(/^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/)){
                if(pass.substring(10, 11)== "H"){
                
                }else{
                  
                  Swal.fire({
                    type: 'warning',
                    customClass:{
                        confirmButton: 'color-boton',
                        cancelButton: 'color-boton',
                      },
                    customClass: 'swal-wide',
                    title: `Por el momento no puede llevarse a cabo su registro, por favor contáctese a la Junta de Reclutamiento Municipal de Ahome al teléfono: (668) 818 1172,
                    Correo: juntadereclutamientoahome@gmail.com
                    Horarios de atención de lunes a viernes de 8:00 am a 4:00 pm, sábados de 9:00 am a 1:00 pm.`,
                  })
                
              }
                
              }else{
                
                Swal.fire({
                  type: 'error',
                  customClass:{
                      confirmButton: 'color-boton',
                      cancelButton: 'color-boton',
                    },
                  title: `Tu clave CURP debe contener 18 caracteres como en el siguiente formato de ejemplo: "AAAA000000AAAAAA00" `,
                })
              }
            
          
        }); 
     
        $('#id').click(function() {
            alert( "Handler for .click() called." );
          });
        })
      

        
    </script>
{% endblock %}
