{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

li:hover{
  border-bottom: 3px solid #691C32;
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}

</style>
{% endblock extracss %}

{% block content%}
<form action="" method="post" id="id_form_actividad">
  {% csrf_token %}
  <div class="container  contenedor mb-5 " style="margin-top: 20%;"> 
        
    
      
<div class="row ">
    <div class="container">
      Folio <br>  
      <input class="form-control mb-3" onkeyup="mayus(this);" name="folio" placeholder="Folio"
       required="" value="{{data.folio}}">
    </div>
</div>
<div class="row">
    <div class="container">
      Nombre de personal de atención: <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="name_attended" placeholder="Nombre completo" 
       required=""  >
    </div>
</div>
<div class="row">
    <div class="container">
      Habitantes <br>
      Total de habitantes <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="total" placeholder="Apellido materno" 
       required=""  value="0">
    </div>
</div>
     <div class="row">
        <div class="col-6">
            Personas con discapacidad <br>
            <input class="form-control mb-3" onkeyup="mayus(this);" name="disability" placeholder="0" 
             required=""  value="0">
        </div>
        <div class="col-6">
            Madres Solteras <br>
            <input class="form-control mb-3" onkeyup="mayus(this);" name="mom" placeholder="0" 
             required=""  value="0">
        </div>
        <div class="col-6">
            Adultos Mayores <br>
            <input class="form-control mb-3" onkeyup="mayus(this);" name="adult" placeholder="0" 
             required=""  value="0">
        </div>
        <div class="col-6">
            Menores de edad <br>
            <input class="form-control mb-3" onkeyup="mayus(this);" name="younger" placeholder="0" 
             required=""  value="0">
        </div>
     </div>
     
      Vivienda<br>
      <select name="house" selected="{{data.house}}" class="select form-control mb-3" required="" id="est_civil"> 
        <option value="r"  {% if data.house == "r" %}selected=""{% endif %} >Rentada</option> 
        <option value="p"  {% if data.house == "p" %}selected=""{% endif %}>Prestada</option> 
        <option value="m"  {% if data.house == "p" %}selected=""{% endif %}>Propia</option> 

      </select> 
      Techo<br>
      <select name="ceiling" selected="{{data.ceiling}}"  class="select form-control mb-3" required="" id="ceiling"> 
        <option value="o" {% if data.ceiling == "c" %}selected=""{% endif %} >Concreto</option> 
        <option value="m" {% if data.ceiling == "m" %}selected=""{% endif %}>Madera</option> 
        <option value="v" {% if data.ceiling == "l" %}selected=""{% endif %}>Lamina</option> 
        <option value="x" {% if data.ceiling == "x" %}selected=""{% endif %}>Otro</option> 
      </select> 
      Piso<br>
      <select name="floor" selected="{{data.floor}}"  class="select form-control mb-3" required="" id="floor"> 
        <option value="t" {% if data.floor == "t" %}selected=""{% endif %} >Tierra</option> 
        <option value="c" {% if data.floor == "c" %}selected=""{% endif %}>Concreto</option>
        <option value="x" {% if data.floor == "x" %}selected=""{% endif %}>Otro</option> 
      </select> 
      Baño<br>
      <select name="bath" selected="{{data.bath}}"  class="select form-control mb-3" required="" id="bath"> 
        <option value="c" {% if data.bath == "c" %}selected=""{% endif %} >Con Conexión a Agua</option> 
        <option value="l" {% if data.bath == "l" %}selected=""{% endif %}>Letrina</option> 
        <option value="x" {% if data.bath == "x" %}selected=""{% endif %}>Otros</option> 
      </select> 
      
    
  </div>
 


  <div class="d-flex justify-content-center mt-5">
    <button class="btn color-boton" id="id_btn_segunda_parte" type="submit">
      Guardar &nbsp;<i class="fas fa-check"></i>
    </button>
  </div>
</form>

{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }

      $(document).ready(function () {

      
        })
      

        
    </script>
{% endblock %}
