{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    .contenedor{ 
      width: 80% !important;
      margin-top: 250px !important;
  }
  }

  @media (max-width: 768px) {
    .contenedor{ 
        width: 90% !important;
        margin-top: 85px !important;
    }

    #activacion_registro{
      font-size: 20px !important;
    }
    .negrita{
      font-size: 20px !important;
    }

    .activacion{
      margin-top: 200px !important;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

strong, b {  font-weight: 900; }
li:hover{
  border-bottom: 3px solid #691C32;
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}

</style>
{% endblock extracss %}

{% block content%}

  <div class="container-fluid  contenedor mb-5" style="margin-top: 7%;"> 
    
    {% if configuracion.carga %}
    <form action="" method="post" id="id_form_actividad">
      {% csrf_token %}
      <div class="row mt-5">
        <div class="container">
         <b>Localidad ó Colonia de Atención</b>  <samp style="color:#9A0E44">*</samp> <br>
          <select name="zona" class="select form-control mb-3" required="" id="zona"> 
            <option value="0" disabled>Seleccione una localidad</option> 
            {% for zona in zonas %}
              <option value="{{zona.pk}}" {% if configuracion.zona.pk == zona.pk %}selected{% endif %}>
                {{zona.nombre}}</option> 
            {% endfor %}
          </select> 
        </div>
        <div class="container">
          CURP &nbsp;<samp style="color:#9A0E44">*</samp> &nbsp; &nbsp; &nbsp; &nbsp;<br>
          <input class="form-control mb-3" id="curp" onkeyup="mayus(this);" name="curp"  minlength="18"  maxlength="18" placeholder="CURP:(AAAA971231ABCDEF00) " 
          oninput="this.className = ''" required="" pattern="^([A-Z&]|[a-z&]{1})([AEIOUX]|[aeioux]{1})([A-Z&]|[a-z&]{1})([A-Z&]|[a-z&]{1})([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])([HM]|[hm]{1})([A-Z]{2})([A-Z]{1})([A-Z]{1})([A-Z]{1})([A-Z|0-9]{2})$">
          <div class="mb-3 container"> <a href="https://www.gob.mx/curp/" target="_blank" >Obtener CURP</a></div>
        </div>
        <div class="container">
        Nombre <samp style="color:#9A0E44">*</samp><br>  
        <input class="form-control mb-3" onkeyup="mayus(this);" name="nombre" placeholder="Nombre(s)"
        oninput="this.className = ''" required="">
      </div>
      <div class="container">
        Apellido paterno <samp style="color:#9A0E44">*</samp> <br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="paterno" placeholder="Apellido paterno" 
        oninput="this.className = ''" required="">
      </div>
      <div class="container">
        Apellido materno<samp style="color:#9A0E44">*</samp> <br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="materno" placeholder="Apellido materno" 
        oninput="this.className = ''" required="">
      </div>
      <div class="container">
      Población objetivo <samp style="color:#9A0E44">*</samp> <br>
      <select name="poblacion" class="select form-control mb-3" required="" id="poblacion"> 
        <option value="" selected="">---------</option> 
        {% for poblacion in poblaciones %}
          <option value="{{poblacion.pk}}" >{{poblacion.nombre}}</option>
        {% endfor %}
      </select> 
    </div>
    <div class="container">
        Estado civil <samp style="color:#9A0E44">*</samp> <br>
        <select name="estcivil" class="select form-control mb-3" required="" id="est_civil"> 
          <option value="x" selected="">---------</option> 
          <option value="s" >Soltero</option> 
          <option value="u" >Unión libre</option> 
          <option value="c" >Casado</option> 
          <option value="d" >Divorciado</option> 
          <option value="v" >Viudo</option> 
        </select> 
      </div>
      <div class="container">
        Persona con discapacidad <samp style="color:#9A0E44">*</samp><br>
        <select name="discapacidad" class="select form-control mb-3" required="" id="discapacidad"> 
          <option value="n" selected="">No</option> 
          <option value="o" >Auditiva</option> 
          <option value="m" >Motriz</option> 
          <option value="v" >Visual</option> 
          <option value="i" >Intelectual</option> 
          <option value="a" >Verbal</option> 
          <option value="c" >Autismo</option>
          <option value="s" >Síndrome de Down</option>  
          <option value="x" >Otro</option> 
        </select> 
      </div>
      <div class="container">
        Calle <samp style="color:#9A0E44">*</samp><br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="calle" placeholder="Calle" 
        oninput="this.className = ''" required>
      </div>
      <div class="container">
        Número exterior <samp style="color:#9A0E44">*</samp><br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="exterior" placeholder="Número Exterio o Poste" 
        oninput="this.className = ''" required>
      </div>
      <div class="container">
        Localidad / Colonia<samp style="color:#9A0E44">*</samp> <br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="domicilio" placeholder="Localidad / Colonia" 
        oninput="this.className = ''" required>
      </div>
      <div class="container">
        Código postal <samp style="color:#9A0E44">*</samp><br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="cp" placeholder="Código Postal" 
        oninput="this.className = ''" required>
      </div>
      <div class="container">
        Correo electrónico
        <input class="form-control mb-3" id="email" name="email" placeholder="Correo Electrónico" 
        oninput="this.className = ''">
      </div>
      <div class="container">
        Teléfono <br>
        <input class="form-control mb-3" id="telefono" name="telefono" minlength="10"  maxlength="10" placeholder="Teléfono"
        oninput="this.className = ''">
      </div>
      <div class="container">
        Observación <br>
        <textarea class="form-control mb-3" name="observacion" id="observacion" cols="auto" rows="3"></textarea>
      </div>    
    </div>
    
    <div class="text-center mt-5">
      <h3 >Servicios </h3>
      <div class="container" style="border: solid 2px black ; padding: 15px;">
        <h5>Servicio 1 <samp style="color:#9A0E44">*</samp></h5>
        <select name="direccion" class="select form-control"  id="direccion" required> 
          <option value="" selected="">---------</option> 
          {% for direccion in direcciones %}
          <option value="{{direccion.id}}">{{direccion}}</option> 
          {% endfor %}
        </select> 
        <p>Seleccione un servicio</p>
        <select name="servicio" class="select form-control"  id="servicio" required> 
          <option value="" selected="">---------</option> 
          {% for servicio in servicios %}
            <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}"
            {% if servicio.limite %}
              {% if servicio.cantidad == "0" %}
              style="background-color: #bebebe; color: black; " disabled data-toggle="tooltip" title="La existencia de este servicio se ha terminado"
              {% endif %}
            {% endif %}
             >{{servicio}}</option> 
          {% endfor %}
        </select> 
      </div>
      
      <div class="container mt-3" style="border: solid 2px black; padding: 15px;">
        <h5>Servicio 2</h5>
        <select name="direccion2" class="select form-control" id="direccion2"> 
          <option value="x" selected="">---------</option> 
          {% for direccion in direcciones %}
          <option value="{{direccion.id}}">{{direccion}}</option> 
          {% endfor %}
          
        </select> 
        <p>Seleccione un servicio</p>
        <select name="servicio2" class="select form-control" id="servicio2"> 
          <option value="x" selected="">---------</option> 
          {% for servicio in servicios %}
            <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}"
            {% if servicio.limite %}
              {% if servicio.cantidad == "0" %}
              style="background-color: #bebebe; color: black; " disabled data-toggle="tooltip" title="La existencia de este servicio se ha terminado"
              {% endif %}
            {% endif %}
             >{{servicio}}</option> 
          {% endfor %}
        </select> 
      </div>


      <div class="container mt-3" style="border: solid 2px black; padding: 15px;">
        <h5>Servicio 3</h5>
        <select name="direccion3" class="select form-control"  id="direccion3"> 
          <option value="x" selected="">---------</option> 
          {% for direccion in direcciones %}
          <option value="{{direccion.id}}">{{direccion}}</option> 
          {% endfor %}
          
        </select> 
        <p>Seleccione un servicio</p>
        <select name="servicio3" class="select form-control"  id="servicio3"> 
          <option value="x" selected="">---------</option> 
          {% for servicio in servicios %}
          <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}"
          {% if servicio.limite %}
            {% if servicio.cantidad == "0" %}
            style="background-color: #bebebe; color: black; " disabled data-toggle="tooltip" title="La existencia de este servicio se ha terminado"
            {% endif %}
          {% endif %}
           >{{servicio}}</option> 
        {% endfor %}
        </select> 
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <button class="btn color-boton" id="id_btn_segunda_parte" type="submit">
        Registrar &nbsp;<i class="fas fa-check"></i>
      </button>
    </div> 
 
  </form> 

    {% else %}
    
      <div class="text-justify mb-5 activacion" style="background-color: #d8d8d8; border-radius: 20px; padding:5%;">
        <p id="activacion_registro" style="font-size:40px;"> El registro se abrirá el próximo <b class="negrita" style="font-size:40px;">Sábado {{configuracion.fecha}}</b>,  te esperamos en <b class="negrita" style="font-size:40px;">{{configuracion.zona}}</b>,  estaremos muy contentos en atenderte con nuestro  <b class="negrita" style="font-size:40px;">ESPÍRITU DE TRABAJO.</b>  </p> 
      </div>
    
    {% endif %}        
  </div>


{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }
       
      $(document).ready(function () {
        var solicitudes = '{{solicitudes|escapejs}}';
        solicitudes = JSON.parse(solicitudes);
        
        $('#direccion').change((event) => {
          const dependencia_id = event.target.value;
          let programasOperativosItems = document.querySelectorAll(
              'select[name=servicio] >  option'
          )
          programasOperativosItems.forEach((po) => {
              if (dependencia_id === '0') {
                  po.hidden = false;
              } else{
                  dependencia_item = po.getAttribute('direccion');
                  po.hidden = dependencia_id === dependencia_item ?
                              false:
                              true;
              }
          });


      })

      

      $('#direccion2').change((event) => {
        const dependencia_id = event.target.value;
        let programasOperativosItems = document.querySelectorAll(
            'select[name=servicio2] >  option'
        )
        programasOperativosItems.forEach((po) => {
            if (dependencia_id === '0') {
                po.hidden = false;
            } else{
                dependencia_item = po.getAttribute('direccion');
                po.hidden = dependencia_id === dependencia_item ?
                            false:
                            true;
            }
        });


    })

    $('#direccion3').change((event) => {
      const dependencia_id = event.target.value;
      let programasOperativosItems = document.querySelectorAll(
          'select[name=servicio3] >  option'
      )
      programasOperativosItems.forEach((po) => {
          if (dependencia_id === '0') {
              po.hidden = false;
          } else{
              dependencia_item = po.getAttribute('direccion');
              po.hidden = dependencia_id === dependencia_item ?
                          false:
                          true;
          }
      });


  })

        
        $('#id_fecha').datepicker({
            uiLibrary: 'bootstrap4',
            format: "yyyy-mm-dd",
        });
        $('#id_fecha').attr('readonly',true)
        
        $("#curp").on('blur',function(){ 
          pass = document.getElementById('curp').value;
          
            for(solicitud of solicitudes){
              if(pass == solicitud){
                Swal.fire({
                  title: 'Ya existe una solicitud con la CURP '+pass,
                  icon: 'warning',
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'Entiendo'
                }).then((result) => {
                  if (result.isConfirmed) {
                    document.getElementById("curp").focus();
                  }
                })
                
                $('#curp').val('');
                document.getElementById("curp").focus();
                break;
              }

            }

        }); 
      

        
     
        $('#id').click(function() {
            alert( "Handler for .click() called." );
          });
        })
      

        
    </script>

    <script>
      $(document).ready(function(){
        //var altoVentana = $('#Ventana').css('height').replace("px","");//usa este para que desaparezca despues de pasar el alto del div
        
      });
      </script>
{% endblock %}
