{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

strong, b {  font-weight: 900; }

li:hover{
  border-bottom: 3px solid rgba(3, 250, 36, 0.904);
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}

</style>
{% endblock extracss %}

{% block content%}
<form action="" method="post" id="id_form_actividad">
  {% csrf_token %}
  <div class="container " style="margin-top: 7%;"> 
    <div id="contento" calss="text-center" style="padding: 10px;">
      <div class="row">
        <div class="col-4"><img class="" src="{%static 'images/Ayuntamiento.jpg' %}" alt="Logo" width="auto" height="110px"></div>
        <div class="col-4" align="center">  <img class="" src="{%static 'images/bienestarlogo.png' %}" alt="Logo" width="300px" height="auto"></div>
        <div class="col-4 " align="right"><img class="" src="{%static 'images/tAhome.png' %}" alt="Logo" width="auto" height="110px"></div>
      </div> 
    </div>
    {% if configuracion.carga %}
      <div class="row mt-5">

        CURP &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
        <input class="form-control mb-3" id="curp" onkeyup="mayus(this);" name="curp"  minlength="18"  maxlength="18" placeholder="CURP:(AAAA971231ABCDEF00) " 
        oninput="this.className = ''" required="">
        <div class="mb-3 container"> <a href="https://www.gob.mx/curp/" target="_blank" >Obtener CURP</a></div>
        Nombre <br>  
        <input class="form-control mb-3" onkeyup="mayus(this);" name="nombre" placeholder="Nombre(s)"
        oninput="this.className = ''" required="">
        Apellido Paterno <br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="paterno" placeholder="Apellido paterno" 
        oninput="this.className = ''" required="">
        Apellido Materno <br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="materno" placeholder="Apellido materno" 
        oninput="this.className = ''" required="">
        
      Población Objetivo <br>
      <select name="poblacion" class="select form-control mb-3" required="" id="poblacion"> 
        <option value="" selected="">---------</option> 
        {% for poblacion in poblaciones %}
          <option value="{{poblacion.pk}}" >{{poblacion.nombre}}</option>
        {% endfor %}
      </select> 
        Estado Civil <br>
        <select name="estcivil" class="select form-control mb-3" required="" id="est_civil"> 
          <option value="x" selected="">---------</option> 
          <option value="s" >Soltero</option> 
          <option value="c" >Casado</option> 
          <option value="d" >Divorciado</option> 
          <option value="v" >Viudo</option> 
        </select> 
        Persona con discapacidad <br>
        <select name="discapacidad" class="select form-control mb-3" required="" id="discapacidad"> 
          <option value="n" selected="">No</option> 
          <option value="o" >Auditiva</option> 
          <option value="m" >Motriz</option> 
          <option value="v" >Visual</option> 
          <option value="x" >Otro</option> 
        </select> 
        Domicilio <br>
        <input class="form-control mb-3" onkeyup="mayus(this);" name="domicilio" placeholder="Domicilio" 
        oninput="this.className = ''" required>
        Correo
        <input class="form-control mb-3" id="email" name="email" placeholder="Correo Electrónico" 
        oninput="this.className = ''">
        Teléfono <br>
        <input class="form-control mb-3" id="telefono" name="telefono" minlength="10"  maxlength="10" placeholder="Teléfono"
        oninput="this.className = ''">

      
    </div>
    </div>

    <div class="text-center mt-5">
      <h3 >Servicios </h3>
      <div class="container" style="border: solid 2px black ; padding: 15px;">
        <h5>Servicio 1</h5>
        <select name="direccion" class="select form-control"  id="direccion" required> 
          <option value="" selected="">---------</option> 
          {% for direccion in direcciones %}
          <option value="{{direccion.id}}">{{direccion}}</option> 
          {% endfor %}
        </select> 
        <p>Seleccione un servicio</p>
        <select name="servicio" class="select form-control"  id="servicio" required> 
          <option value="" selected="">---------</option> 
          {% for servicio in servicios %}
            <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}">{{servicio}}</option> 
          {% endfor %}
        </select> 
      </div>
      
      <div class="container mt-3" style="border: solid 2px black; padding: 15px;">
        <h5>Servicio 2</h5>
        <select name="direccion2" class="select form-control" id="direccion2"> 
          <option value="x" selected="">---------</option> 
          {% for direccion in direcciones %}
          <option value="{{direccion.id}}">{{direccion}}</option> 
          {% endfor %}
          
        </select> 
        <p>Seleccione un servicio</p>
        <select name="servicio2" class="select form-control" id="servicio2"> 
          <option value="x" selected="">---------</option> 
          {% for servicio in servicios %}
            <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}">{{servicio}}</option> 
          {% endfor %}
        </select> 
      </div>


      <div class="container mt-3" style="border: solid 2px black; padding: 15px;">
        <h5>Servicio 3</h5>
        <select name="direccion3" class="select form-control"  id="direccion3"> 
          <option value="x" selected="">---------</option> 
          {% for direccion in direcciones %}
          <option value="{{direccion.id}}">{{direccion}}</option> 
          {% endfor %}
          
        </select> 
        <p>Seleccione un servicio</p>
        <select name="servicio3" class="select form-control"  id="servicio3"> 
          <option value="x" selected="">---------</option> 
          {% for servicio in servicios %}
            <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}">{{servicio}}</option> 
          {% endfor %}
        </select> 
      </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <button class="btn color-boton" id="id_btn_segunda_parte" type="submit">
        Registrar &nbsp;<i class="fas fa-check"></i>
      </button>
    </div>  
    {% else %}
      <div class="text-center"><p style="font-size:40px;"> El registro se abrirá el próximo <b style="font-size:40px;">Sábado {{configuracion.fecha}}</b>,  te esperamos en <b style="font-size:40px;">{{configuracion.zona}}</b>,  estaremos muy contentos en atenderte con nuestro  <br><b style="font-size:40px;">ESPÍRITU DE TRABAJO.</b>  </p> </div>
    {% endif %}        
    
</form>

{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }

      $(document).ready(function () {

        $('#direccion').change((event) => {
          const dependencia_id = event.target.value;
          let programasOperativosItems = document.querySelectorAll(
              'select[name=servicio] >  option'
          )
          programasOperativosItems.forEach((po) => {
              if (dependencia_id === '0') {
                  po.hidden = false;
              } else{
                  dependencia_item = po.getAttribute('direccion');
                  po.hidden = dependencia_id === dependencia_item ?
                              false:
                              true;
              }
          });


      })

      $('#direccion2').change((event) => {
        const dependencia_id = event.target.value;
        let programasOperativosItems = document.querySelectorAll(
            'select[name=servicio2] >  option'
        )
        programasOperativosItems.forEach((po) => {
            if (dependencia_id === '0') {
                po.hidden = false;
            } else{
                dependencia_item = po.getAttribute('direccion');
                po.hidden = dependencia_id === dependencia_item ?
                            false:
                            true;
            }
        });


    })

    $('#direccion3').change((event) => {
      const dependencia_id = event.target.value;
      let programasOperativosItems = document.querySelectorAll(
          'select[name=servicio3] >  option'
      )
      programasOperativosItems.forEach((po) => {
          if (dependencia_id === '0') {
              po.hidden = false;
          } else{
              dependencia_item = po.getAttribute('direccion');
              po.hidden = dependencia_id === dependencia_item ?
                          false:
                          true;
          }
      });


  })

        
        $('#id_fecha').datepicker({
            uiLibrary: 'bootstrap4',
            format: "yyyy-mm-dd",
        });
        $('#id_fecha').attr('readonly',true)
        
      
    /*la validación de la composición de la curp esta en el codigo,
      aqui solo se valida si cumple con 18 caracteres y este compuesta por
      la estructura de una CURP, se realiza validación para saber si es 
      mujer
      
      */
      

        
     
        $('#id').click(function() {
            alert( "Handler for .click() called." );
          });
        })
      

        
    </script>
{% endblock %}
