{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

li:hover{
  border-bottom: 3px solid rgba(3, 250, 36, 0.904);
  transition: border-color 1s ease;
  
}

</style>
{% endblock extracss %}

{% block content%}
<form action="" method="post" id="id_form_actividad">
  {% csrf_token %}
  <div class="container " style="margin-top: 7%;"> 
        
    <div class="row ">
    
      Nombre <br>  
      <input class="form-control mb-3" onkeyup="mayus(this);" name="nombre" placeholder="Nombre(s)"
      oninput="this.className = ''">
      Apellido Paterno <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="paterno" placeholder="Apellido paterno" 
      oninput="this.className = ''">
      Apellido Materno <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="materno" placeholder="Apellido materno" 
      oninput="this.className = ''">
      CURP <br>
      <input class="form-control mb-3" id="curp" onkeyup="mayus(this);" name="curp"  minlength="18"  maxlength="18" placeholder="CURP:(AAAA971231ABCDEF00) " 
      oninput="this.className = ''">
      Estado Civil <br>
      <select name="estcivil" class="select form-control mb-3" required="" id="est_civil"> 
        <option value="x" selected="">---------</option> 
        <option value="s" >Soltero</option> 
        <option value="c" >Casado</option> 
        <option value="d" >Divorciado</option> 
        <option value="v" >Viudo</option> 
      </select> 
      Persona con discapacidad <br>
      <select name="discapacidad" class="select form-control mb-3" required="" id="discapacidad"> 
        <option value="n" selected="">No</option> 
        <option value="o" >Oído</option> 
        <option value="m" >Motriz</option> 
        <option value="v" >Visual</option> 
        <option value="x" >Otro</option> 
      </select> 
      Domicilio <br>
      <input class="form-control mb-3" onkeyup="mayus(this);" name="domicilio" placeholder="Domicilio" 
      oninput="this.className = ''">
      Correo
      <input class="form-control mb-3" id="email" name="email" placeholder="Correo Electrónico" 
      oninput="this.className = ''">
      Teléfono <br>
      <input class="form-control mb-3" id="telefono" name="telefono" minlength="10"  maxlength="10" placeholder="Teléfono"
      oninput="this.className = ''">

    
  </div>
  </div>

  <div class="text-center mt-5">
    <h3 >Servicios </h3>
    <div class="container" style="border: solid 2px black ; padding: 15px;">
      <h5>Servicio 1</h5>
      <select name="direccion" class="select form-control" required="" id="direccion"> 
        <option value="x" selected="">---------</option> 
        {% for direccion in direcciones %}
        <option value="{{direccion.id}}">{{direccion}}</option> 
        {% endfor %}
      </select> 
      <p>Seleccione un servicio</p>
      <select name="servicio" class="select form-control" required="" id="servicio"> 
        <option value="x" selected="">---------</option> 
        {% for servicio in servicios %}
          <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}">{{servicio}}</option> 
        {% endfor %}
      </select> 
    </div>
    

    <div class="container mt-3" style="border: solid 2px black; padding: 15px;">
      <h5>Servicio 2</h5>
      <select name="direccion2" class="select form-control" required="" id="direccion2"> 
        <option value="x" selected="">---------</option> 
        {% for direccion in direcciones %}
        <option value="{{direccion.id}}">{{direccion}}</option> 
        {% endfor %}
      </select> 
      <p>Seleccione un servicio</p>
      <select name="servicio2 " class="select form-control" required="" id="servicio2"> 
        <option value="x" selected="">---------</option> 
        {% for servicio in servicios %}
          <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}">{{servicio}}</option> 
        {% endfor %} 
      </select> 
    </div>


    <div class="container mt-3" style="border: solid 2px black; padding: 15px;">
      <h5>Servicio 3</h5>
      <select name="direccion3" class="select form-control" required="" id="direccion3"> 
        <option value="x" selected="">---------</option> 
        {% for direccion in direcciones %}
        <option value="{{direccion.id}}">{{direccion}}</option> 
        {% endfor %}
        
      </select> 
      <p>Seleccione un servicio</p>
      <select name="servicio3" class="select form-control" required="" id="servicio3"> 
        <option value="x" selected="">---------</option> 
        {% for servicio in servicios %}
          <option value="{{servicio.id}}" direccion="{{servicio.direccion.id}}">{{servicio}}</option> 
        {% endfor %}
      </select> 
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary color-boton" id="id_btn_segunda_parte" type="submit">
      Registrar &nbsp;<i class="fas fa-check"></i>
    </button>
  </div>
</form>

{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }

      $(document).ready(function () {

        $('#direccion').change((event) => {
          const dependencia_id = event.target.value;
          let programasOperativosItems = document.querySelectorAll(
              'select[name=servicio] >  option'
          )
          programasOperativosItems.forEach((po) => {
              if (dependencia_id === '0') {
                  po.hidden = false;
              } else{
                  dependencia_item = po.getAttribute('direccion');
                  po.hidden = dependencia_id === dependencia_item ?
                              false:
                              true;
              }
          });


      })

      $('#direccion2').change((event) => {
        const dependencia_id = event.target.value;
        let programasOperativosItems = document.querySelectorAll(
            'select[name=servicio2] >  option'
        )
        programasOperativosItems.forEach((po) => {
            if (dependencia_id === '0') {
                po.hidden = false;
            } else{
                dependencia_item = po.getAttribute('direccion');
                po.hidden = dependencia_id === dependencia_item ?
                            false:
                            true;
            }
        });


    })

    $('#direccion3').change((event) => {
      const dependencia_id = event.target.value;
      let programasOperativosItems = document.querySelectorAll(
          'select[name=servicio3] >  option'
      )
      programasOperativosItems.forEach((po) => {
          if (dependencia_id === '0') {
              po.hidden = false;
          } else{
              dependencia_item = po.getAttribute('direccion');
              po.hidden = dependencia_id === dependencia_item ?
                          false:
                          true;
          }
      });


  })

        
        $('#id_fecha').datepicker({
            uiLibrary: 'bootstrap4',
            format: "yyyy-mm-dd",
        });
        $('#id_fecha').attr('readonly',true)
        
       
      
        $("#telefono").on('blur',function(){ 
          pass = document.getElementById('telefono').value;
          console.log(pass)
          if(pass.match(/^[0-9]{10}/)){
            
          }else{
              Swal.fire({
                type: 'error',
                customClass:{
                    confirmButton: 'color-boton',
                    cancelButton: 'color-boton',
                  },
                title: `El número de teléfono debe contener 10 dígitos`,
              })
          }
      }); 


        $("#email").on('blur',function(){ 
         
          pass = document.getElementById('email').value;
          console.log(pass)
          if(pass.match(/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/)){
            
          }else{
              Swal.fire({
                type: 'error',
                customClass:{
                    confirmButton: 'color-boton',
                    cancelButton: 'color-boton',
                  },
                title: `Ingresa un correo eléctronico válido`,
              })
          }
      }); 
      
    /*la validación de la composición de la curp esta en el codigo,
      aqui solo se valida si cumple con 18 caracteres y este compuesta por
      la estructura de una CURP, se realiza validación para saber si es 
      mujer
      
      */
      

        $("#curp").on('blur',function(){ 
          pass = document.getElementById('curp').value;
          console.log(pass)
            
              if(pass.match(/^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/)){
                if(pass.substring(10, 11)== "H"){
                
                }else{
                  
                  Swal.fire({
                    type: 'warning',
                    customClass:{
                        confirmButton: 'color-boton',
                        cancelButton: 'color-boton',
                      },
                    customClass: 'swal-wide',
                    title: `Por el momento no puede llevarse a cabo su registro, por favor contáctese a la Junta de Reclutamiento Municipal de Ahome al teléfono: (668) 818 1172,
                    Correo: juntadereclutamientoahome@gmail.com
                    Horarios de atención de lunes a viernes de 8:00 am a 4:00 pm, sábados de 9:00 am a 1:00 pm.`,
                  })
                
              }
                
              }else{
                
                Swal.fire({
                  type: 'error',
                  customClass:{
                      confirmButton: 'color-boton',
                      cancelButton: 'color-boton',
                    },
                  title: `Tu clave CURP debe contener 18 caracteres como en el siguiente formato de ejemplo: "AAAA000000AAAAAA00" `,
                })
              }
            
          
        }); 
     
        $('#id').click(function() {
            alert( "Handler for .click() called." );
          });
        })
      

        
    </script>
{% endblock %}
