{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.resaltar:hover{
  border-bottom: 3px solid rgba(3, 250, 36, 0.904);
  transition: border-color 1s ease;
  
}

</style>
{% endblock extracss %}

{% block content%}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
  <div class="mt-3 ml-3 mr-3" id="contento">
    <h2 class="text-center">Feria del Bienestar</h2>
    <div>
      <p class="text-center">
        <h3>Datos Generales</h3>
      </p>
      
     
      <p>Nombre: {{solicitud.nombre}} {{solicitud.appaterno}} {{solicitud.materno}}</p>
      <p>CURP: {{solicitud.curp}}</p>
      <p>Discapacidad: {{solicitud.discapacidad}}</p>
      <p>Estado Civil: {{solicitud.estcivil}}</p>
      <p>Domicilio: {{solicitud.domicilio}}</p>
      <p>Telefono: {{solicitud.telefono}}</p>
      <p>Correo: {{solicitud.correo}}</p>
    </div>

    <div class="container" style="border: solid 2px black;">
      <div class="row">
        <div class="col-md-8">
          <h3>Serivicio 1</h3>
          <p>Dirección: </p>
          <p>Servicio: </p>
        </div>
      </div>
      

    </div>

</div>
  
</div>

{% endblock content %}
{% block extrascripts %}

    <script>
      
      $(document).ready(function () {
        tel_mostrar = true
        email_mostrar = true

        $(".telefonos").hide()
        $(".correos").hide()

        $(".whatsapp").click(function() {
          if (tel_mostrar==true){
            $(".telefonos").show()
            tel_mostrar=false
          }else{
            $(".telefonos").hide()
            tel_mostrar=true
          }
          });

       
       
        $(".email").click(function() {
          if (email_mostrar==true){
            $(".correos").show()
            email_mostrar=false
          }else{
            $(".correos").hide()
            email_mostrar=true
          }
          });
        })
      

        
    </script>
{% endblock %}
