{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.resaltar:hover{
  border-bottom: 3px solid rgba(3, 250, 36, 0.904);
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}
</style>
{% endblock extracss %}

{% block content%}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
  {% if id == "0" %}
  <div class="mt-3 ml-3 mr-3" id="contento">
    <form action="" method="post" id="id_form_actividad">
      {% csrf_token %}
      <div class="container " style="margin-top: 7%;"> 
        {% if mns %}
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            No se encontro salicitud con la CURP que busca
          </div>
        </div>
        {% endif %} 
        <div class="row ">
        
          CURP <br>  
          <input class="form-control mb-3" onkeyup="mayus(this);" name="curp" placeholder="CURP del Solicitante"
          oninput="this.className = ''">
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button class="btn  color-boton" id="id_btn_segunda_parte" type="submit">
            Buscar &nbsp;<i class="fas fa-search"></i>
          </button>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a href="https://www.gob.mx/curp/" target="_blank">Obtener CURP</a>
        </div>
       
      </div>
    </form>
  </div> 
  
  {% else %}
  <div class="mt-3 ml-3 mr-3" id="contento">
    <h1 class="text-center">Feria del Bienestar</h1>
    <div>
      <p class="text-center">
        <h3>Datos Generales</h3>
      </p>
      
     <div class="row">
      <div class="col-md-8">
        Nombre: {{solicitud.nombre}} {{solicitud.appaterno}} {{solicitud.apmaterno}} <br>
        CURP: {{solicitud.curp}} <br>
        {% if solicitud.sexo == 'H' %}
          Sexo: Hombre <br>
        {% elif solicitud.sexo == 'M' %}
          Sexo: Mujer <br>
        {% endif %}
        
        Discapacidad: 
        {% if solicitud.discapacidad == 'n' %}
          No
        {% elif solicitud.discapacidad == 'o' %} 
          Auditiva
        {% elif solicitud.discapacidad == 'm' %} 
          Motriz
        {% elif solicitud.discapacidad == 'v' %} 
          Vista
        {% elif solicitud.discapacidad == 'x' %} 
          Otro
        {% endif %}  <br>
        
        Estado Civil: 
        {% if solicitud.estcivil == 's' %}
          Soltero
        {% elif solicitud.estcivil == 'c' %} 
          Casado
        {% elif solicitud.estcivil == 'd' %} 
          Divorsiado
        {% elif solicitud.estcivil == 'v' %} 
          Viudo
        {% endif %}  <br>
        Domicilio: {{solicitud.domicilio}} <br>
        Telefono: {{solicitud.telefono}} <br>
        Correo: {{solicitud.correo}} <br>
      </div>
      <div class="col-md-4">
        {% if solicitud.discapacidad != 'n' %}
          <img src="{%static 'images/discapacidades.png' %}" width="250px" height="auto" alt="">
        {% endif %}
      </div>

     </div>
      
    </div>
    {% for servicio in servicios %}
    <div class="container mt-5" style="border: solid 2px black; margin-top: 6rem !important; height: 220px">
      
      <div class="row">
        <div class="col-md-8">
          <b> <h3> Servicio {{ forloop.counter }} </h3></b>
          <p style="font-size: 25px !important;">Dirección: {{servicio.direccion}}</p>
          <p style="font-size: 25px !important;">Servicio: {{servicio.nombre}} </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button id="btn_pdf" type="button" class="btn color-boton mt-5" style="background-color: #9A0E44;">Imprimir servicios <i class="fas fa-file-download"></i></button>
  

  {% endif %}
  
 

<div id="carga">

</div>

</div>

{% endblock content %}
{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.js" integrity="sha256-c30AriwlYd8As+X/SAMm9dKVZ0OSS6V/Ub/krEBQyMk=" crossorigin="anonymous"></script>
    <script>
      function mayus(e) {
        e.value = e.value.toUpperCase();
      }

      $(document).ready(function () {
        tel_mostrar = true
        email_mostrar = true

        $(".telefonos").hide()
        $(".correos").hide()

        $(".whatsapp").click(function() {
          if (tel_mostrar==true){
            $(".telefonos").show()
            tel_mostrar=false
          }else{
            $(".telefonos").hide()
            tel_mostrar=true
          }
          });

       
       
        $(".email").click(function() {
          if (email_mostrar==true){
            $(".correos").show()
            email_mostrar=false
          }else{
            $(".correos").hide()
            email_mostrar=true
          }
          });
        })
      
        $('#btn_pdf').click((event)=>{
            
          $.when( effect() ).done(function() {
              $("#btn_pdf").prop('disabled',false)
             
          });


      });

         
      var effect = function() {
        $("#btn_pdf").prop('disabled',true)
        $("#contento").printThis({
        debug: false,               // show the iframe for debugging
        importCSS: true,            // import parent page css
        importStyle: true,         // import style tags
        printContainer: true,       // print outer container/$.selector
        loadCSS: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",                // path to additional css file - use an array [] for multiple
        pageTitle: "",              // add title to print page
        removeInline: false,        // remove inline styles from print elements
        removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
        printDelay: 333,            // variable print delay
        header: null,               // prefix to html
        footer: false,               // postfix to html
        base: false,                // preserve the BASE tag or accept a string for the URL
        formValues: false,           // preserve input/form values
        canvas: false,              // copy canvas content
        doctypeString: '...',       // enter a different doctype for older markup
        removeScripts: false,       // remove script tags from print content
        copyTagClasses: false,      // copy classes from the html & body tag
        beforePrintEvent: $('#contento').show(),     // function for printEvent in iframe
        beforePrint: null,          // function called before iframe is filled
        afterPrint: null            // function called before iframe is removed
    });

    return $( "#carga" ).fadeIn( 1000 ).delay( 1200 ).fadeOut();

};

        
    </script>
{% endblock %}
