{% extends "base/base.html" %}
{% load staticfiles %}

{% block extracss %}
<style>
  * {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  a{
    text-decoration: none !important;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .img_content {
    margin: 10px;
    
    line-height: 115px;
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

li:hover{
  border-bottom: 3px solid #691C32;
  transition: border-color 1s ease;
  
}

.color-boton{
  background-color: #9A0E44 !important;
  color: white;
}

.color-boton:hover{
  background: #c0527c !important;
  color: white;
}

</style>
{% endblock extracss %}

{% block content%}
<div id="login" class="mb-5">
    <h3 class="text-center text-white pt-5"></h3>
    <div class="container">
      <div class="row justify-content-center align-items-center mt-5">
        <!--<div class="col-6" align="center">
          <img class="img-fluid" src="{%static 'images/bienestarlogo.png' %}" alt="Logo" >
        </div>-->
        <div class="col-6 container-fluid" style="background-color: rgb(226, 226, 226); border-radius: 20px;" >
          <div id="login-row" class="row justify-content-center align-items-center" >
           
                <div id="login-box" class="col-md-12" style="padding: 20px;">
                 
                    <form id="login-form" class="form" action="" method="post">
                      {% csrf_token %}  
                      <h3 class="text-center" style="border-bottom:solid 2px #9A0E44;">Inicio de Sesión</h3>
                        <div class="form-group">
                            <label for="username" class="">Nombre de Usuario:</label><br>
                            <input onkeyup="mayus(this);" type="text" name="usernam" id="usernam" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Contraseña:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="text-center">
                          <button class="btn btn-primary color-boton" id="id_btn_segunda_parte">
                            Iniciar Sesión &nbsp;<i class="fas fa-check"></i>
                          </button>
                           
                        </div>
                        
                    </form>
                </div>
            
        </div>
        </div>

      </div>
        
    </div>
</div>

{% endblock content %}
{% block extrascripts %}
<script src="{%static 'js/gijgo.min.js'%}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
  function mayus(e) {
    e.value = e.value.toUpperCase();
  }

  $(document).ready(()=>{

    $('#login-form').submit(function( event ) {
      event.preventDefault();
     
      username = document.getElementById("usernam").value.toLowerCase();
      password = document.getElementById("password").value.replace(/ /g, "");
      username = username.replace(/ /g, "")
      $("#password").val(password);
      //$("#usernam").val(username.toLowerCase());
      //console.log(document.getElementById("usernam").value)

      $('#login-form').append(`
      <input type="text" value="${username}" name="username" id="username" class="form-control" hidden >
      
      `);

      this.submit()
     
    });
});
</script>
{% endblock %}
